{% extends "accounts/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block customcss %}
{% endblock customcss %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "担当" "accounts:division" %}
    {% breadcrumb object.name "accounts:division_delete" object.id %}
{% endblock %}

{% block content %}
<div class="container">
    <form action="" method="POST">{% csrf_token %}
        <div class="form-floating mb-3">
            {% render_field form.name class="form-control" placeholder="担当名" %}
            <label for="id_name">担当名</label>
        </div>
        <input type="submit" class="btn btn-primary" value="保存">
        <a href="{% url 'accounts:division' %}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">キャンセル</a>
    </form>
</div>
{% endblock content%}
