{% extends "accounts/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block customcss %}
{% endblock customcss %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "班" "accounts:group" %}
    {% breadcrumb object.name "accounts:group_delete" object.id %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="mb-3">
        <p><strong>{{object.name}}</strong>を削除しますか？</p>
        <p>削除すると、この班に所属するユーザーの班は空欄になります。</p>
    </div>
    <form action="" method="POST">{% csrf_token %}
        <input type="submit" value="削除" class="btn btn-danger">
        <a href="{% url 'accounts:group' %}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">キャンセル</a>
    </form>
</div>
{% endblock content%}
