{% extends 'accounts/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock customcss %}

{% block header %}
FairWind Account
{% endblock header %}

{% block content %}
<div class="container">
    {{ context }}
    <form method="POST" class="row g-3"> {% csrf_token %}
        <div class="col-md-12">
            <div class="form-floating mb-3">
                {% if form.old_password.errors %}
                    {% render_field form.old_password class="form-control is-invalid" id="inputPassword1" name="Password1" placeholder="元のパスワード" %}
                    <label for="inputPassword1">元のパスワード</label>
                    {% for error in form.old_password.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.old_password class="form-control" id="inputPassword1" name="Password1" placeholder="元のパスワード" %}
                    <label for="inputPassword1">元のパスワード</label>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                {% if form.new_password1.errors %}
                    {% render_field form.new_password1 class="form-control is-invalid" id="inputPassword1" name="Password1" placeholder="新しいパスワード" %}
                    <label for="inputPassword1">新しいパスワード</label>
                    {% for error in form.new_password1.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.new_password1 class="form-control" id="inputPassword1" name="Password1" placeholder="新しいパスワード" %}
                    <label for="inputPassword1">新しいパスワード</label>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                {% if form.new_password2.errors %}
                    {% render_field form.new_password2 class="form-control is-invalid" id="inputPassword2" name="Password2" placeholder="新しいパスワード（確認）" %}
                    <label for="inputPassword2">新しいパスワード（確認）</label>
                    {% for error in form.new_password2.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field form.new_password2 class="form-control" id="inputPassword2" name="Password2" placeholder="新しいパスワード（確認）" %}
                    <label for="inputPassword2">新しいパスワード（確認）</label>
                {% endif %}
            </div>
        </div>
        <div class="col-12 mb-3">
            <button type="submit" class="btn btn-primary">変更</button>
        </div>
    </form>
</div>
{% endblock content %}
