{% extends "accounts/base.html" %}
{% load static %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
FairWind Account
{% endblock header%}

{% block content %}
<div class="container">
    {% if alerts %}
        {% for alert in alerts %}
        <div class="alert alert-warning" role="alert">
            {{ alert }}
        </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-sm-6">
            <a href="{% url 'accounts:update' %}" class="btn btn-outline-dark d-flex flex-column py-3 mb-3">
                <div class="lead">ユーザー情報更新</div>
                <div>学部や学科の登録もこちらから</div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'accounts:password_change' %}" class="btn btn-outline-dark d-flex flex-column py-3 mb-3">
                <div class="lead">パスワード変更</div>
                <div>元のパスワードを忘れた場合はプラットフォーム担当まで</div>
            </a>
        </div>
        {% if user.is_staff %}
        <div class="col-sm-6">
            <a href="{% url 'accounts:signup' %}" class="btn btn-outline-dark d-flex flex-column py-3 mb-3">
                <div class="lead">ユーザー新規登録</div>
                <div>プラットフォーム担当のみアクセス可能</div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="#" class="btn btn-outline-dark d-flex flex-column py-3 mb-3">
                <div class="lead">班の編集</div>
                <div>プラットフォーム担当のみアクセス可能</div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="#" class="btn btn-outline-dark d-flex flex-column py-3 mb-3">
                <div class="lead">担当の編集</div>
                <div>プラットフォーム担当のみアクセス可能</div>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content%}
