{% extends 'todo/base.html' %}
{% load widget_tweaks %}

{% block header %}
Todoを新規作成する
{% endblock header %}

{% block content %}
<div class="container">
    <form action="" method="POST">{% csrf_token %}
        <div class="mb-3">
            <label for="id_title" class="form-label">タイトル</label>
            {% render_field form.title class="form-control" %}
        </div>
        <div class="mb-3">
            <label for="id_memo" class="form-label">メモ</label>
            {% render_field form.memo class="form-control" %}
        </div>
        <div class="mb-3">
            <label for="id_priority" class="form-label">優先度</label>
            {% render_field form.priority class="form-select" %}
        </div>
        <div class="mb-3">
            <label for="id_duedate" class="form-label">期限</label>
            {% render_field form.duedate class="form-control" type="date" %}
        </div>
        <input type="submit" class="btn btn-primary" value="保存">
    </form>
</div>
{% endblock content %}
