{% extends 'todo/base.html' %}
{% load widget_tweaks %}

{% block header %}
Todoを編集する
{% endblock header %}

{% block content %}
<div class="container">
    <form action="" method="POST">{% csrf_token %}
        <div class="mb-3">
            <label for="id_title" class="form-label">タイトル</label>
            {% render_field form.title class="form-control" %}
        </div>
        <div class="mb-3">
            <label for="id_memo" class="form-label">メモ</label>
            {% render_field form.memo class="form-control" %}
        </div>
        <div class="mb-3">
            <label for="id_priority" class="form-label">優先度</label>
            {% render_field form.priority class="form-select" %}
        </div>
        <div class="mb-3">
            <label for="id_duedate" class="form-label">期限</label>
            {% render_field form.duedate class="form-control" type="date" %}
        </div>
        <input type="submit" value="更新" class="btn btn-primary">
        <a href="{% url '' %}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">キャンセル</a>
    </form>
</div>
{% endblock content %}
