{% extends "accounts/base.html" %}
{% load widget_tweaks %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}

{% block customcss %}
{% endblock customcss %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "ユーザー一覧" "accounts:users" %}
    {% breadcrumb "一括登録" "accounts:users_import" %}
{% endblock %}

{% block content %}
<div class="container">
    {% include 'components/messages.html' %}
    <form action="" method="POST" class="row g-3 mb-3" enctype="multipart/form-data"> {% csrf_token %}
        {% if imported_users %}
            <div class="alert alert-primary mb-0">{{ imported_users }} 件のデータの登録に成功しました。</div>
        {% endif %}
        {% for error in errors %}
            <div class="alert alert-danger mb-0">{{ error }}</div>
        {% endfor %}
        <div class="col-md-12">
            <div>
                <label for="id_file" class="form-label">CSVファイル</label>
                {% render_field form.file class="form-control" accept=".csv" %}
            </div>
        </div>
        <div class="col-12 mb-3">
            <button type="submit" class="btn btn-primary">登録</button>
        </div>
    </form>
    <div class="card mb-3">
        <div class="card-header">
            CSVファイルの形式
        </div>
        <div class="card-body">
            <p>CSVファイルは、次の形式で作成してください。班と担当のみ空白にすることができます。</p>
            <pre><code>user-name, 姓, 名, lastname.firstname.fw@gmail.com, 科類（理科一類など）, 入学年度（YYYY）, 期（nn）, 男／女／未回答, 〇〇班, ××担当, password</code></pre>
        </div>
    </div>

</div>
{% endblock content%}
