{% extends 'board/base.html' %}
{% load widget_tweaks %}

{% block header %}
FairWind Chat
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="mb-3">
            <label for="id_title" class="form-label">タイトル</label>
            {% render_field form.title class="form-control" %}
        </div>
        <div class="mb-3">
            <label for="id_content" class="form-label">内容</label>
            {% render_field form.content class="form-control" %}
        </div>
        <div class="mb-3">
            <label for="id_sns_image" class="form-label">画像</label>
            {% render_field form.sns_image class="form-control" %}
        </div>
        <input type="hidden" name="author" value="{{ user.username }}">
        <input type="submit" value="作成" class="btn btn-primary">
    </form>
</div>
{% else %}
<div class="container">
    Please Login
</div>
{% endif %}

{% endblock content %}