{% extends 'board/base.html' %}

{% block header %}
FairWind Chat
{% endblock header %}

{% block content %}

<div class="container">
    {% for item in object_list %}
    <div class="alert alert-success" role="alert">
        <p>タイトル：{{ item.title }}</p>
        <p>投稿者：{{ item.author }}</p>
        <a href="#" class="btn btn-primary" role="button" aria-pressed="true">Primary Link</a>
        <a href="#" class="btn btn-secondary" role="button" aria-pressed="true">Link</a>
    </div>
    {% endfor %}
</div>

{% endblock content %}