{% extends 'board/base.html' %}

{% block header %}
FairWind Chat
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    {% for item in object_list %}
    <div class="alert alert-success" role="alert">
        <p>タイトル：<a href="{% url 'detail' item.pk %}">{{ item.title }}</a></p>
        <p>投稿者：{{ item.author }}</p>
        <a href="{% url 'good' item.pk %}" class="btn btn-primary" role="button" aria-pressed="true">
            いいね {{ item.good }}
        </a>
        <a href="{% url 'read' item.pk %}" class="btn btn-secondary" role="button" aria-pressed="true">
            既読 {{ item.read }}
        </a>
    </div>
    {% endfor %}
</div>
{% else %}
Please Login
{% endif %}

{% endblock content %}