{% extends 'board/base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock customcss %}

{% block header %}
Log In
{% endblock header %}

{% block content %}
<div class="container">
    <main class="form-signin">
        {{ context }}
        <form method="POST"> {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Please login</h1>

            <div class="form-floating">
                <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Username"
                    name="username"
                    required
                />
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input
                    type="password"
                    class="form-control"
                    id="floatingPassword"
                    placeholder="Password"
                    name="password"
                    required
                />
                <label for="floatingPassword">Password</label>
            </div>
            <input type="hidden" name="next" value="{{next}}">
            <button class="w-100 btn btn-lg btn-primary" type="submit">
                Log in
            </button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
    </main>
</div>
{% endblock content %}
