{% extends "clubroom/base.html" %}
{% load static %}

{% block customcss %}
{% endblock customcss %}

{% block content %}
<div class="container">
    {% include 'components/messages.html' %}

    <a class="btn btn-primary mb-3" href="{% url 'clubroom:reservation' %}" role="button">
        新規予約

    </a>

    <p>
        予約変更と予約取消は、予約者と管理者のみが行うことができます。
    </p>

    <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for event in events_list %}
        <div class="col">
            <div class="card mb-3 h-100">
                <div class="card-header h5">
                    {{ event.title }}
                </div>
                <div class="card-body">
                    <div class="card-title">
                        {{ event.date|date:"Y/m/d" }}
                        {{ event.start_time|date:"H:i" }}〜{{ event.end_time|date:"H:i" }}
                    </div>
                    <hr>
                    {% if event.purpose %}
                    <dl class="row">
                        <dt class="col-sm-2">目的</dt>
                        <dd class="col-sm-10">{{ event.purpose }}</dd>
                    </dl>
                    {% endif %}
                    <dl class="row">
                        <dt class="col-sm-2">予約者</dt>
                        <dd class="col-sm-10">{{ event.person_in_charge }}</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-2">参加者</dt>
                        <dd class="col-sm-10 d-flex flex-wrap">
                            {% for participant in event.participants.all %}
                            <span class="me-3">
                                {{ participant }}
                            </span>
                            {% endfor %}
                        </dd>
                    </dl>
                    {% if user.profile == event.person_in_charge or user.is_staff %}
                    <div>
                        <a class="btn btn-secondary btn-sm" href="{% url 'clubroom:reservation_update' event.pk %}" role="button">予約変更</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'clubroom:reservation_cancel' event.pk %}" role="button">予約取消</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content%}
