{% extends "clubroom/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap_breadcrumbs %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'accounts/css/suggest.css' %}">
<script src="{% static 'accounts/js/suggest.js' %}"></script>
{% endblock customcss %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "新規予約" "clubroom:reservation" %}
{% endblock %}

{% block content %}
<div class="container">
    {% include 'components/messages.html' %}
    {{ form.title.errors }}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    <form action="" method="post">{% csrf_token %}
        <p>
            現在ログインしているユーザーが、予約者として登録されます。
        </p>
        {% include 'clubroom/reservation_form.html' %}
        <input type="hidden" name="person_in_charge" value="{{ user.profile.pk }}">
        <div class="col-12 mb-3">
            <button type="submit" class="btn btn-primary">予約</button>
        </div>
    </form>
</div>
{% endblock content%}
