{% extends "clubroom/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load django_bootstrap_breadcrumbs %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'accounts/css/suggest.css' %}">
<script src="{% static 'accounts/js/suggest.js' %}"></script>
{% endblock customcss %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "新規予約" "clubroom:reservation" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="h4">部室予約システム</div>
    {% include 'components/messages.html' %}
    {{ form.title.errors }}
    <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    <form action="" method="post">{% csrf_token %}
        <p>
            現在ログインしているユーザーが、予約者として登録されます。
        </p>
        <div class="col-md-12">
            <div class="form-floating mb-3">
                {% render_field form.title class="form-control" placeholder="タイトル" %}
                <label for="id_title">タイトル</label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-floating mb-3">
                {% render_field form.purpose class="form-control" placeholder="目的" aria-describedby="purposeHelp" %}
                <label for="id_purpose">目的</label>
                <div id="purposeHelp" class="form-text">任意</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    {% render_field form.date class="form-control" placeholder="日付" type="date" %}
                    <label for="id_date">日付</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    {% render_field form.start_time class="form-control" placeholder="開始時刻" type="time" %}
                    <label for="id_start_time">開始時刻</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    {% render_field form.end_time class="form-control" placeholder="終了時刻" type="time" %}
                    <label for="id_end_time">終了時刻</label>
                </div>
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        参加者
                    </div>
                    {% render_field form.participants class="form-control suggest" placeholder="参加者を検索" aria-describedby="participantsHelp" %}
                    <div id="participantsHelp" class="form-text">
                        姓のローマ字表記から始まるユーザー名を入力すると、候補を表示します。
                        候補をクリックすることで確定します。
                        確定した参加者をクリックすることで削除します。
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="person_in_charge" value="{{ user.profile.pk }}">
        <div class="col-12 mb-3">
            <button type="submit" class="btn btn-primary">予約</button>
        </div>
    </form>
</div>
{% endblock content%}
